/* Write your code here. */
.bg-container {
  background: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 10px;
  width: 60%;
}
.heading {
  text-align: center;
  color: #cb8805;
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 40px;
  padding-top: 20px;
}
.faq-question-container {
  list-style-type: none;
  padding: 60px;
  width: 100%;
}
